<div class="section">
    <div class="container tim-container">
        <div id="images">
            <div class="container">
                <!-- <div class="tim-title">
                    <h3>Category</h3>
                </div> -->
                <div class="row">
                    <div class="col-xs-6  col-sm-4 col-md-3" *ngFor="let lis of categories">
                        <div class="card text-white bg-primary mb-3" style="width: 14rem;">
                            <img class="card-img-top" src="assets/img/icons/{{lis.icon}}" height="200px" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">{{lis.name}}</h5>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="btn btn-warning">Detail</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
